{% extends('base.html.twig') %}

{% block body %}
    <br>
    <br>
    <h1>Bienvenue sur la page d'accueil !</h1>
    <br>
    <div>Je m'appelle Olivier. J'apprends Symfony et fais ce petit projet afin de manipuler l'outil !</div>
    <br>
    <div>En cliquant sur Create, j'ai pu via un formulaire ajouter des photos de vacances...</div>
    <br>
    <div>En cliquant sur PhotoList, vous pourrez les consulter...</div>
    <br>
    <br>

{%  endblock %}