<nav>
    <ul>
        <li><a href="{{ url('main_home') }}" title="home">HOME</a></li>
        <li><a href="{{ url('photo_create') }}"  title="create">CREATE</a></li>
        <li><a href="{{ url('photo_photolist') }}" title="photolist">PHOTOLIST</a></li>
        <li><a href="{{ url('inc_admin') }}"  title="admin">AJOUT PAYS</a></li>
    </ul>
</nav>